:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2000;
  overflow-y: auto;
  padding: 1rem 1rem 142px;
}

p {
  color: black;
  text-align: left;
}

.Yandex-map {
  width: 100%;
  height: 300px;
}

.buy-button {
  margin-left: 10px;
}