<div class="col">
    <div class="card shadow-sm">
      <img class="bd-placeholder-img card-img-top" width="100%" [src]="productItem.imgCar"/>

      <div class="card-body">
        <p class="card-text">Mark: {{productItem.name}}</p>
        <p class="card-text">Model: {{productItem.model}}</p>
        <p class="card-text">{{productItem.description | slice:0:80}}...</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary product-btn" (click)="modalCall()">View Details</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Call to take One</button>
            <app-modal-window *ngIf="modalService.isShowDialog" [carInfo]="productItem"></app-modal-window>
          </div>
          <small class="text-muted">{{ productItem.price | currency:'USD' | slice:0:8}}</small> 
        </div>
      </div>
    </div>
  </div>
