<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <app-header></app-header>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Это здесь</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">для того</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">чтобы заполнить</a>
      <a class="py-2 text-dark text-decoration-none" href="#">пустое место</a>
    </nav>
  </div>
